

header >h1{
    text-align: center;
}
#formulario{
    border: 1px solid black;
    display: inline-block;
    justify-content: space-around;
    text-align: center;
}
.contenedor{
    display: flex;
}
.izquierda{
    flex: 1;
    padding-left: 25px;
  
}
.derecha{
    flex: 4;
    text-align: center;
    border: 1px solid cadetblue;
}
.link{
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    margin-bottom: 15px;
    height: 65px;
    width: 200px;
    justify-content: space-around;
    background-color: crimson;
    font-weight: 700;
    color: white;
}

.boton{
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    margin-bottom: 15px;
    height: 25px;
    width: 200px;
    justify-content: space-around;
    background-color: crimson;
}