



.regresar{
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    margin-bottom: 15px;
    height: 25px;
    justify-content: space-around;
    background-color: crimson;
    font-weight: 700;
    color: white;
}